.hmd{
    font-size: 14px;
}

.btn{
    outline: 0;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 3px 7px;
    color: white;
    font-size: 13px;
}

.header{
    width: 100%;
    padding: 1rem;

    .filter{
        .search{
            span{
                margin-right: 10px;
            }
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    .text_div{
        margin-right: 17rem;

        @media screen and (max-width: 1000px) {
            margin: 0;
        }

        // @media screen and (max-width: 600px) {
        //     display: none;
        // }
    }

    .nav{
        position: absolute;
        top: 0;
        right: 0;
        background: #0d0d41;
        color: rgb(233, 233, 233);
        width: 13rem;
        padding: 2rem;
        border-radius: 0 0 0 40%;
        transition: 0.5s ease;

        ul{
            li{
                margin-bottom: 2rem;
                cursor: pointer;
            }
        }

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    #nav2{
        display: none;

        button{
            color: #fff;
            background: rgba(255, 166, 0, 0.781);
        }

        ul{
            li{
                margin-bottom: 2rem;
                cursor: pointer;
                color: white;
            }
        }

        @media screen and (max-width: 1000px) {
            display: flex;
            transition: 0.5s ease;
            z-index: 999;
            padding: 2rem;
            align-items: end;
            justify-content: start;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -100%;
            border-radius: 0;
            background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            backdrop-filter: blur(7px);
            // -webkit-backdrop-filter: blur(7px);
            height: 100vh;
            width: 50%;
        }

        @media screen and (max-width: 700px) {
            width: 100%;
        }

        &.opened{
            right: 0;
        }
        &.closed{
            right: -100%;
        }
    }

    .menuBtn{
        display: none;
        cursor: pointer;

        @media screen and (max-width: 1000px) {
            display: block;
        }
    }
    .closeBtn{
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        width: 2rem;
        height: 2rem;
        display: none;
        cursor: pointer;
        color: white;
        font-size: 19px;
        font-weight: bold;
        position: absolute;
        top: 2rem;
        left: 2rem;

        @media screen and (max-width: 1000px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media screen and (max-width: 700px) {
        background: white;
    }
}